# Binaries for programs and plugins
rye
ryel

*.exe
*.exe~
*.dll
*.so
*.dylib
data.txt
.apitoken
._*
.token
.otp-data
*.data
*.wasm

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# Docs, dumps etc don't belong to Git
*~
*/*.debug

.idea/

.vscode/

\#*\#
.\#*
*.bleve
*.big.csv
*.tar.gz

bin/
dist/
tests/*.html
shell_*.rye
console_*.rye

buildtemp/main.rye
*.bson

