html {
	__background-color: #F8F8F8 ;
}

body {
	__background-color: #FFFFFF ;
	__color: #000000 ;
	font-family: Helvetica, Arial, sans-serif ;
	text-align: justify ;
	line-height: 1.5 ;
	__margin: 16px auto ;
	padding: 32px ;
	__border: solid #ccc 1px ;
	__border-radius: 20px ;
	max-width: 60em ;
	width: 90% ;
	font-size: 16px;
}

h1, h2, h3, h4 {
	color: #3d7e9a ;
	_font-family: Verdana, Geneva, sans-serif ;
	font-family: x-locale-heading-primary,zillaslab,Palatino,"Palatino Linotype",x-locale-heading-secondary,serif;
	font-weight: normal ;
	font-style: normal ;
	text-align: left ;
}

h1 {
    font-size: 28pt ;
    margin-bottom: 32pt;
}

h1 img {
	vertical-align: text-bottom ;
}

h2:before {
	content: "\2730" ;
	padding-right: 0.5em ;
}

a.next:after {
	content: "\1F872" ;
	padding-left: 0.5em ;
}
a.prev:before {
	content: "\1F870" ;
	padding-right: 0.5em ;
}

a {
    color: #0f76b5;
    text-decoration: none ;
}

div.menubar {
	padding-bottom: 0.5em ;
}

p.menubar {
	margin-left: 2.5em ;
}

.menubar a:hover  {
	margin: -3px -3px -3px -3px ;
	padding: 3px  3px  3px  3px ;
	border-radius: 4px ;
}

:target {
	background-color: #F0F0F0 ;
	margin: -8px ;
	padding: 8px ;
	border-radius: 8px ;
	outline: none ;
}

hr {
	display: none ;
}

table hr {
	background-color: #a0a0a0 ;
	color: #a0a0a0 ;
	border: 0 ;
	height: 1px ;
	display: block ;
}

.footer {
	color: gray ;
	font-size: x-small ;
	text-transform: lowercase ;
}

input[type=text] {
	border: solid #a0a0a0 2px ;
	border-radius: 2em ;
	background-image: url('images/search.png') ;
	background-repeat: no-repeat ;
	background-position: 4px center ;
	padding-left: 20px ;
	height: 2em ;
}

pre {
	background-color: #F8F8F8 ;
	padding: 1em ;
	border-radius: 8px ;
	font-size: 90%;
}

table {
	border: none ;
	border-spacing: 0 ;
	border-collapse: collapse ;
}

td {
	padding: 0 ;
	margin: 0 ;
}

td.gutter {
	width: 4% ;
}

table.columns td {
	vertical-align: top ;
	padding-bottom: 1em ;
	text-align: justify ;
	line-height: 1.25 ;
}

table.book td {
	vertical-align: top ;
}

table.book td.cover {
	padding-right: 1em ;
}

table.book img {
	border: solid #000080 1px ;
}

table.book span {
	font-size: small ;
	text-align: left ;
	display: block ;
	margin-top: 0.25em ;
}

p.logos a:link:hover, p.logos a:visited:hover {
	background-color: inherit ;
}

img {
	background-color: white ;
}

blockquote p {
    background-color: #ebf4d6;
    border-left: 4px solid silver;
    padding: 1em;
}




/*! Color themes for Google Code Prettify | MIT License | github.com/jmblog/color-themes-for-google-code-prettify */
body pre.prettyprint {
    padding: 1.5em 2.5em;
  background: #f4f3ec;
  font-family: Menlo, "Bitstream Vera Sans Mono", "DejaVu Sans Mono", Monaco, Consolas, monospace;
  border: 0 !important;
}

.pln {
  color: #22221b;
}

/* Specify class=linenums on a pre to get line numbering */
ol.linenums {
  margin-top: 0;
  margin-bottom: 0;
  color: #878573;
}

li.L0,
li.L1,
li.L2,
li.L3,
li.L4,
li.L5,
li.L6,
li.L7,
li.L8,
li.L9 {
  padding-left: 1em;
  background-color: #f4f3ec;
  list-style-type: decimal;
}

@media screen {

  /* string content */

  .str {
    color: #7d9726;
  }

  /* keyword */

  .kwd {
    color: #5f9182;
  }

  /* comment */

  .com {
    color: #878573;
  }

  /* type name */

  .typ {
    color: #36a166;
  }

  /* literal value */

  .lit {
    color: #ae7313;
  }

  /* punctuation */

  .pun {
    color: #22221b;
  }

  /* lisp open bracket */

  .opn {
    color: #22221b;
  }

  /* lisp close bracket */

  .clo {
    color: #22221b;
  }

  /* markup tag name */

  .tag {
    color: #ba6236;
  }

  /* markup attribute name */

  .atn {
    color: #ae7313;
  }

  /* markup attribute value */

  .atv {
    color: #5b9d48;
  }

  /* declaration */

  .dec {
    color: #ae7313;
  }

  /* variable name */

  .var {
    color: #ba6236;
  }

  /* function name */

  .fun {
    color: #36a166;
  }
}

