<html><style>body { font-family: Helvetica; font-size: 15px; } 
pre { font-size: 13px; background-color: #f8fbdb; padding: 10px 20px; width: 400px; color: #222; }
p.result span { font-size: 15px; background-color: #eddbfb; padding: 5px 10px; width: 400px; color: #222; }</style><body>
<p><% 
 join3 "First <i>Hello world</i> from <b>" whoami "</b>"
%></p>

<p><pre>
name: "James" , surname: "Bond" 
joins: fn { a b } { join3 a " " b }
skip: fn { a b } { do b a }
name .out .skip { out "," } .joins surname |out
</pre>

<p class="result">result: <span><% name: "James" , surname: "Bond" 
joins: fn { a b } { join3 a " " b }
skip: fn { a b } { do b a }
name .prin %><% ", " .joins name |joins surname
  %></span></p>


<!-- a: "" loop 5 { a: join loop 25 { a: join a "." } "<br/>" } %></p> -->

<small>(Very simple Golang's Echo + Rye webserver)</small>
 
</body></html>
